<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Rick and Morty API</h1>
  <p class="lead">Rick and Morty get turned into pure data in this one broh.</p>
</div>

<div class="container">
  <div class="row justify-content-center">

  <div class="col-4">
    <%= link_to 'Characters', characters_path, class: 'btn btn-lg btn-block btn-outline-primary' %>
  </div>
  <div class="col-4">
    <%= link_to 'Episodes', episodes_path, class: 'btn btn-lg btn-block btn-outline-primary' %>
  </div>
  </div>
</div>